In [165]:
import numpy as np
import pandas as pd

df = pd.read_csv("./state_weather_aqi_data_mf2.csv")

x1 = df.iloc[:,5:12].values
z1 = pd.DataFrame(x1)

y1 = df.iloc[:,12:13].values
z2 = pd.DataFrame(y1)
y1

array([[ 68],
       [ 77],
       [ 32],
       ...,
       [162],
       [213],
       [199]])

In [166]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
#x_new1 = pd.DataFrame(ohe.fit_transform(x1[:,[0]]).toarray()) #state
#x_new2 = pd.DataFrame(ohe.fit_transform(x1[:,[1]]).toarray()) #city
#x_new3 = pd.DataFrame(ohe.fit_transform(x1[:,[2]]).toarray()) #station

In [167]:
feature_set = pd.DataFrame(x1)
feature_set

        0    1   2   3   4   5   6
0      68   64  17   4  28  31  40
1      67   70  23   2  13  49  77
2      32   64  26   5   6  19  16
3      93   93  31   3   9  57  61
4      60   55  20   5  18  29  53
...   ...  ...  ..  ..  ..  ..  ..
1560  163  142  57   7  10  39   8
1561  279  215  78  11  23  31  53
1562  162  136  43   4  16  34  44
1563  213  152  55   5  11  95  64
1564  199  166  60   7   6  29  36

[1565 rows x 7 columns]

In [168]:
# importing ml libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
x_train,x_test,y_train,y_test = train_test_split(feature_set,y1,test_size=0.25,random_state=0)

In [169]:
# multiple linear regression model
mreg = LinearRegression()
mreg.fit(x_train,y_train)
mlr_y_predict = mreg.predict(x_test)

In [170]:
poly_reg = PolynomialFeatures(degree = 2)
preg = LinearRegression()
pf = poly_reg.fit_transform(x_train)
preg.fit(pf,y_train)
pr_y_predict = preg.predict(poly_reg.fit_transform(x_test))

In [171]:
from math import sqrt
from sklearn import metrics
def rmsle(real, predicted):
    sum=0.0
    for x in range(len(predicted)):
        if predicted[x]<0 or real[x]<0:
            continue
        p = np.log(predicted[x]+1)
        r = np.log(real[x]+1)
        sum = sum + (p - r)**2
    return ((sum/len(predicted))**0.5)[0]

In [172]:
rmse_mlr = sqrt(metrics.mean_squared_error(y_test, mlr_y_predict))
mae_mlr = metrics.mean_absolute_error(y_test, mlr_y_predict)
r2_mlr = metrics.r2_score(y_test,mlr_y_predict)
rmsle_mlr = rmsle(y_test,mlr_y_predict)
#----- polynomial regression ------------ 
rmse_pr = sqrt(metrics.mean_squared_error(y_test, pr_y_predict))
mae_pr = metrics.mean_absolute_error(y_test, pr_y_predict)
r2_pr = metrics.r2_score(y_test,pr_y_predict)
rmsle_pr = rmsle(y_test,pr_y_predict)

In [173]:
mlr_ytp_rmse = sqrt(metrics.mean_squared_error(y_train, mreg.predict(x_train)))
mlr_ytp_mae = metrics.mean_absolute_error(y_train, mreg.predict(x_train))
mlr_ytp_r2 = metrics.r2_score(y_train, mreg.predict(x_train))
m1 = mreg.predict(x_train)
mlr_ytp_rmsle = rmsle(y_train, m1)
#------ polynomial regression ---------
pr_ytp_rmse = sqrt(metrics.mean_squared_error(y_train, preg.predict(poly_reg.fit_transform(x_train))))
pr_ytp_mae = metrics.mean_absolute_error(y_train, preg.predict(poly_reg.fit_transform(x_train)))
pr_ytp_r2 = metrics.r2_score(y_train, preg.predict(poly_reg.fit_transform(x_train)))
pr_ytp_rmsle = rmsle(y_train, preg.predict(poly_reg.fit_transform(x_train)))

In [174]:

print("evaluating on training data:")
print("models\tR^2\tRMSE\tMAE\tRMSLE")
print("MLR\t{0:.4f}\t{1:.4f}\t{2:.4f}\t{3:.4f}".format(mlr_ytp_r2,mlr_ytp_rmse,mlr_ytp_mae,mlr_ytp_rmsle))
print("PR\t{0:.2f}\t{1:.2f}\t{2:.3f}\t{3:.4f}".format(pr_ytp_r2,pr_ytp_rmse,pr_ytp_mae,pr_ytp_rmsle))

print("evaluating on testing data:")
print("models\tR^2\tRMSE\tMAE\tRMSLE")
print("MLR\t{0:.4f}\t{1:.4f}\t{2:.4f}\t{3:.4f}".format(r2_mlr,rmse_mlr,mae_mlr,rmsle_mlr))
print("PR\t{0:.2f}\t{1:.2f}\t{2:.3f}\t{3:.4f}".format(r2_pr,rmse_pr,mae_pr,rmsle_pr))

evaluating on training data:
models	R^2	RMSE	MAE	RMSLE
MLR	0.9782	14.8543	9.7211	0.1460
PR	0.99	9.45	6.438	0.0940
evaluating on testing data:
models	R^2	RMSE	MAE	RMSLE
MLR	0.9715	15.7810	10.0290	0.1371
PR	0.99	9.18	6.202	0.0890