In [2]:
from scipy.io import arff
import pandas as pd
import numpy as np

In [3]:
path = "./../profdata/weather.nominal.arff"
data = arff.loadarff(path)
df = pd.DataFrame(data[0])
df.dropna()

df = pd.get_dummies(df)


df

,outlook_b'overcast',outlook_b'rainy',outlook_b'sunny',temperature_b'cool',temperature_b'hot',temperature_b'mild',humidity_b'high',humidity_b'normal',windy_b'FALSE',windy_b'TRUE',play_b'no',play_b'yes'
0,0,0,1,0,1,0,1,0,1,0,1,0
1,0,0,1,0,1,0,1,0,0,1,1,0
2,1,0,0,0,1,0,1,0,1,0,0,1
3,0,1,0,0,0,1,1,0,1,0,0,1
4,0,1,0,1,0,0,0,1,1,0,0,1
5,0,1,0,1,0,0,0,1,0,1,1,0
6,1,0,0,1,0,0,0,1,0,1,0,1
7,0,0,1,0,0,1,1,0,1,0,1,0
8,0,0,1,1,0,0,0,1,1,0,0,1
9,0,1,0,0,0,1,0,1,1,0,0,1
10,0,0,1,0,0,1,0,1,0,1,0,1
11,1,0,0,0,0,1,1,0,0,1,0,1
12,1,0,0,0,1,0,0,1,1,0,0,1
13,0,1,0,0,0,1,1,0,0,1,1,0

In [5]:
sups = df.mean()
sups

outlook_b'overcast'    0.285714
outlook_b'rainy'       0.357143
outlook_b'sunny'       0.357143
temperature_b'cool'    0.285714
temperature_b'hot'     0.285714
temperature_b'mild'    0.428571
humidity_b'high'       0.500000
humidity_b'normal'     0.500000
windy_b'FALSE'         0.571429
windy_b'TRUE'          0.428571
play_b'no'             0.357143
play_b'yes'            0.642857
dtype: float64